@use '@/assets/styles/variables' as *;

.btnComponent2
{
    @include g-btn2;

    & img
    {
      padding-left: 10.5px; 
    }

    &:hover
    {
        @include g-btn-hover2;

      & img
      {
        transition: .3s;
         filter: invert(100%);
      }
    }
}
